@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  font-family: Hind, Arial;
  font-size: 14px;
  height: 3.7em;
  overflow: hidden;
  padding-left: 10em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 6%;
  position: relative;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.icons ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 13em 0 39em;
}

.icons ul li {
  margin-left: 2em;
}

.sub-menu-home,
.sub-menu-shop {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 12em;
  margin-right: 20em;
  min-width: 82em;
  min-height: 18em;
}

.sub-menu-home ul,
.sub-menu-shop ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-home ul li,
.sub-menu-shop ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-home ul li ul,
.sub-menu-shop ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-home ul li ul li:nth-child(1),
.sub-menu-shop ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-pages {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 27em;
  min-height: 13em;
  min-width: 18em;
  padding-top: 2.2em;
}

.sub-menu-pages ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-pages ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-pages ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-pages ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-blog {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 32.3em;
  min-height: 19em;
  min-width: 16.5em;
  padding-top: 2.2em;
}

.sub-menu-blog ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-blog ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-blog ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-blog ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-portfolio {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 36.8em;
  min-height: 19em;
  min-width: 16.5em;
  padding-top: 2.2em;
}

.sub-menu-portfolio ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-portfolio ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-portfolio ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-portfolio ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-snowboards {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 12em;
  min-height: 18em;
  max-width: 81em;
}

.sub-menu-snowboards ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-snowboards ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-snowboards ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-snowboards ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-snowboards ul {
  -ms-grid-columns: 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 2fr;
}

.sub-menu-buy-theme {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 52em;
  min-height: 7em;
  min-width: 17em;
  padding-top: 2.2em;
}

.sub-menu-buy-theme ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-buy-theme ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-buy-theme ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-buy-theme ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.home:hover ~ .sub-menu-home,
.shop:hover ~ .sub-menu-shop,
.snowboards:hover ~ .sub-menu-snowboards {
  display: -ms-grid;
  display: grid;
}

.pages:hover ~ .sub-menu-pages,
.blog:hover ~ .sub-menu-blog,
.portfolio:hover ~ .sub-menu-portfolio,
.buy-theme:hover ~ .sub-menu-buy-theme {
  display: inline;
}

.sub-menu-sub-dropdown {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  top: 1.5em;
  left: 17em;
  background-color: #fff;
  padding-top: 0.6em;
  padding-left: 1.5em;
  min-width: 18em;
  min-height: 6.5em;
}

.sub-dropdown:hover ~ .sub-menu-sub-dropdown {
  display: inline;
}

.badge-yellow {
  background-color: #ffae42;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-red {
  background-color: red;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-blue {
  background-color: #48b4e0;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-green {
  background-color: #08da97;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.sale-badge {
  left: 12em;
  position: absolute;
  top: 1em;
}

.sub-menu-snowitems-heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4em 0.5em 0;
}

.sub-menu-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sub-menu-products {
  height: 125px;
  margin-left: 0.8em;
  margin-top: 0;
  width: 125px;
}

.sub-menu-items {
  margin: 0.5em 2em 0 0.5em;
}

.arrow-button {
  background-color: #fff;
  border: none;
}

.social-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.8em;
  background-color: #b004e2;
  padding-left: 10em;
  padding-right: 10em;
}

.form-input {
  border: none;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 2.8em;
  margin-left: -10em;
  padding-left: 1em;
  position: relative;
  width: 40.2em;
}

.social-media-icons {
  color: #fff;
}

.social-media-icons i {
  margin-left: 1.3em;
}

.other-info {
  background-color: #f7f8fa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  min-height: 12em;
  padding: 3.2em 10em 2em 10em;
  color: grey;
}

.other-info b {
  color: #000;
}

.other-info ul {
  list-style: none;
}

.other-info ul li {
  font-size: 14px;
  margin-right: 2em;
  padding-top: 0.5em;
}

.about-info {
  font-size: 14px;
  margin-right: 3em;
  padding-top: 0.5em;
}

.categories {
  padding-bottom: 10em;
}

.page-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 12em 2em 10em;
}

.payment-options-logo {
  height: 1.2em;
  margin-left: 1em;
}

*,
body {
  font-family: Hind, Arial;
  margin: 0;
  padding: 0;
}

.quote,
.parallax-heading {
  color: white;
  font-family: Hind;
  line-height: 1.2;
}

.quote {
  font-size: 34px;
  left: 8.3em;
  position: absolute;
  top: 7em;
}

.quote p {
  line-height: 2;
}

.quote h1 {
  line-height: 1;
}

.arrows {
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  margin-left: 1em;
  margin-top: 8.8em;
  opacity: 0.5;
}

.arrows:hover {
  opacity: 1;
}

.next {
  position: absolute;
  left: 36em;
}

.prev {
  position: absolute;
}

.carousel {
  position: relative;
  height: 46.4em;
  overflow: hidden;
}

.carousel img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.carousel-img {
  width: 120%;
  margin-left: -10em;
  z-index: 0;
}

.shop-btn-carousel {
  background-color: #08da97;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 2em;
  height: 3.8em;
  width: 13.5em;
}

.shop-btn-carousel:hover {
  cursor: pointer;
}

.shop-btn-parallax {
  background-color: #b004e2;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 2em;
  height: 3.8em;
  width: 13.5em;
}

.shop-btn-parallax:hover {
  cursor: pointer;
}

.first-row {
  height: 300px;
  width: 356px;
  margin-bottom: 1em;
}

.second-row {
  height: 300px;
  width: 730px;
}

.boards-p {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: item1;
}

.for-sale-p {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: item2;
}

.men-p {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: item3;
}

.accessories-p {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: item4;
}

.men-clothing-p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: item5;
}

.new-arrival-p {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: item6;
}

.products-collection {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "item1 item2 item3 item4" "item5 item5 item6 item6";
  margin-left: 1.2em;
  margin-top: 1.2em;
  cursor: pointer;
}

.boards-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 9.6em;
  margin-top: 17.5em;
  width: 10.5em;
}

.for-sale-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 38.5em;
  margin-top: 17.5em;
  width: 8.8em;
}

.men-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 66.8em;
  margin-top: 17.5em;
  width: 8em;
}

.accessories-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 92.4em;
  margin-top: 17.5em;
  width: 13.5em;
}

.men-clothing-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 16.9em;
  margin-top: 17.4em;
  width: 23.7em;
}

.new-arrival-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 72.3em;
  margin-top: 17.4em;
  width: 25.5em;
}

.boards-p:hover > .boards-btn,
.for-sale-p:hover > .for-sale-btn,
.men-p:hover > .men-btn,
.accessories-p:hover > .accessories-btn,
.men-clothing-p:hover > .men-clothing-btn,
.new-arrival-p:hover > .new-arrival-btn {
  background-color: #b004e2;
  color: white;
  cursor: pointer;
}

.trending-head {
  font-size: 26px;
  line-height: 1;
}

.trending-head span {
  font-size: 16px;
}

.trending-products {
  min-height: 30em;
  padding-top: 2em;
  margin-left: 0.3em;
  text-align: center;
}

.trending-product-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  min-height: 10em;
  height: 29em;
}

.trending-product-detail .trending-product-img {
  position: relative;
  height: 232px;
  margin-left: 0.5em;
  margin-top: 3.2em;
}

.product1:hover > .details,
.product2:hover > .details,
.product3:hover > .details,
.product4:hover > .details,
.product5:hover > .details,
.product6:hover > .details {
  background-color: white;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.product1:hover > .details > .add-to-cart-btn,
.product2:hover > .details > .add-to-cart-btn,
.product3:hover > .details > .add-to-cart-btn,
.product4:hover > .details > .add-to-cart-btn,
.product5:hover > .details > .add-to-cart-btn,
.product6:hover > .details > .add-to-cart-btn {
  display: block;
  margin-left: 5.6em;
}

.details {
  font-size: 14px;
  height: 8em;
  padding-top: 0.4em;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-type {
  color: #808080;
  font-size: 12px;
}

.product-price {
  font-weight: bold;
}

.for-sale-price {
  color: red;
}

.add-to-cart-btn {
  background-color: #08da97;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: #fff;
  display: none;
  padding: 0.7em;
  margin-top: 1em;
}

.rating-stars {
  font-size: 12px;
}

.fa-star {
  color: orange;
}

.product2 .badge-red {
  position: absolute;
  margin-top: 5em;
  margin-left: 1.6em;
  z-index: 1;
}

.parallax {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/parallax-img.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.parallax-heading {
  font-size: 30px;
}

.parallax-heading p:nth-child(1) {
  color: #13b380;
  line-height: 1.5;
}

.parallax-heading p:nth-child(2) {
  font-size: 72px;
  font-weight: bold;
}

.brands {
  margin: 0 12em 2.1em 9.5em;
}

.brands a {
  text-decoration: none;
}

.brands a:hover > .brand-img {
  opacity: 1;
}

.brand-img {
  margin-left: 3.6em;
  opacity: 0.2;
  width: 8.3em;
}

.instagram-link {
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  margin-top: 2.5em;
  margin-left: 0.8em;
  text-align: center;
}

.instagram-link a {
  color: #2267d8;
  text-decoration: underline;
}

.instagram-link a:hover {
  text-decoration: none;
}

.instagram-link span {
  font-size: 16px;
  font-weight: normal;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers .offer-img-1,
.offers .offer-img-2 {
  margin: 0.7em 0 2em 1.2em;
  width: 730px;
}

.join-us-btn {
  background-color: #2267d8;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  height: 2.8em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  position: absolute;
  width: 6.6em;
}

.offer-img-1:hover ~ .offer-btn-1,
.offer-img-2:hover ~ .offer-btn-2 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offer-btn-1,
.offer-btn-2 {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  font-weight: normal;
  height: 8.3em;
  margin-top: 12em;
  position: absolute;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  width: 24.2em;
}

.offer-btn-1:hover,
.offer-btn-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offer-btn-1 p,
.offer-btn-2 p {
  font-size: 16px;
}

.offer-btn-1 p span,
.offer-btn-2 p span {
  font-size: 28px;
  font-weight: bold;
}

.offer-btn-1 p span span,
.offer-btn-2 p span span {
  color: #08da97;
}

.offer-btn-1 {
  left: 16.5em;
}

.offer-btn-2 {
  left: 73em;
}
/*# sourceMappingURL=homepage.css.map */