@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
*,
body {
  margin: 0;
  padding: 0;
}

nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  font-family: Hind, Arial;
  font-size: 14px;
  height: 3.7em;
  padding-left: 10em;
}

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  list-style: none;
  margin-left: 6%;
  position: relative;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.icons ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 13em 0 39em;
}

.icons ul li {
  margin-left: 2em;
}

.sub-menu-home,
.sub-menu-shop {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 1;
  left: 12em;
  margin-right: 20em;
  max-width: 84em;
  min-height: 18em;
}

.sub-menu-home ul,
.sub-menu-shop ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-home ul li,
.sub-menu-shop ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-home ul li ul,
.sub-menu-shop ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-home ul li ul li:nth-child(1),
.sub-menu-shop ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-pages {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 1;
  left: 27em;
  min-height: 13em;
  min-width: 18em;
  padding-top: 2.2em;
}

.sub-menu-pages ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-pages ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-pages ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-pages ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-blog {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 1;
  left: 32.3em;
  min-height: 19em;
  min-width: 16.5em;
  padding-top: 2.2em;
}

.sub-menu-blog ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-blog ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-blog ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-blog ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-portfolio {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 1;
  left: 36.8em;
  min-height: 19em;
  min-width: 16.5em;
  padding-top: 2.2em;
}

.sub-menu-portfolio ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-portfolio ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-portfolio ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-portfolio ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-snowboards {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 1;
  left: 12em;
  min-height: 18em;
  max-width: 81em;
}

.sub-menu-snowboards ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-snowboards ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-snowboards ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-snowboards ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-snowboards ul {
  -ms-grid-columns: 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 2fr;
}

.sub-menu-buy-theme {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 1;
  left: 52em;
  min-height: 7em;
  min-width: 17em;
  padding-top: 2.2em;
}

.sub-menu-buy-theme ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-buy-theme ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-buy-theme ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-buy-theme ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.home:hover ~ .sub-menu-home {
  display: -ms-grid;
  display: grid;
}

.shop:hover ~ .sub-menu-shop {
  display: -ms-grid;
  display: grid;
}

.pages:hover ~ .sub-menu-pages {
  display: inline;
}

.blog:hover ~ .sub-menu-blog {
  display: inline;
}

.portfolio:hover ~ .sub-menu-portfolio {
  display: inline;
}

.snowboards:hover ~ .sub-menu-snowboards {
  display: -ms-grid;
  display: grid;
}

.buy-theme:hover ~ .sub-menu-buy-theme {
  display: inline;
}

.sub-menu-sub-dropdown {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 1.5em;
  left: 17em;
  background-color: #fff;
  padding-top: 0.6em;
  padding-left: 1.5em;
  min-width: 18em;
  min-height: 6.5em;
}

.sub-dropdown:hover ~ .sub-menu-sub-dropdown {
  display: inline;
}

.badge-yellow {
  background-color: #ffae42;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-red {
  background-color: red;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-blue {
  background-color: #48b4e0;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-green {
  background-color: #08da97;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.sale-badge {
  left: 12em;
  position: absolute;
  top: 1em;
}

.sub-menu-snowitems-heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4em 0.5em 0;
}

.sub-menu-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sub-menu-products {
  height: 125px;
  margin-left: 0.8em;
  margin-top: 0;
  width: 125px;
}

.sub-menu-items {
  margin: 0.5em 2em 0 0.5em;
}

.arrow-button {
  background-color: #fff;
  border: none;
}

.quote {
  color: white;
  font-family: Hind;
  font-size: 34px;
  left: 8.5em;
  line-height: 1.2;
  position: absolute;
  top: 7em;
}

.quote p {
  line-height: 2;
}

.quote h1 {
  line-height: 1;
}

.carousel {
  height: 93vh;
  background-image: url("../images/mainpage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-now-btn {
  background-color: #08da97;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 2em;
  padding: 1.3em 3.6em 1.3em 3.6em;
}
/*# sourceMappingURL=homepage.css.map */