@import "./navbar.scss";
@import "footer.scss";

@mixin btn($color) {
  background-color: $color;
  border: none;
  border-radius: 0.5em;
  text-align: center;
}

@mixin products-btn($color) {
  @include btn($color);
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
}

@mixin shop-now-btn($color) {
  @include btn($color);
  color: white;
  font-weight: bold;
  margin-top: 2em;
  height: 3.8em;
  width: 13.5em;

  &:hover {
    cursor: pointer;
  }
}

*,
body {
  font-family: Hind, Arial;

  margin: 0;
  padding: 0;
}

.quote,
.parallax-heading {
  color: white;
  font-family: Hind;
  line-height: 1.2;
}

.quote {
  font-size: 34px;
  left: 8.3em;
  position: absolute;
  top: 7em;
  p {
    line-height: 2;
  }
  h1 {
    line-height: 1;
  }
}

.carousel {
  height: 93vh;
  background-image: url("../images/mainpage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-btn-carousel {
  @include shop-now-btn($color: $light-green);
}

.shop-btn-parallax {
  @include shop-now-btn($color: $purple);
}

.first-row {
  height: 300px;
  width: 356px;
  margin-bottom: 1em;
}

.second-row {
  height: 300px;
  width: 730px;
}
.boards-p {
  grid-area: item1;
}

.for-sale-p {
  grid-area: item2;
}

.men-p {
  grid-area: item3;
}

.accessories-p {
  grid-area: item4;
}

.men-clothing-p {
  grid-area: item5;
}

.new-arrival-p {
  grid-area: item6;
}

.products-collection {
  display: grid;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item5 item6 item6";
  margin-left: 1.2em;
  margin-top: 1.2em;
  cursor: pointer;
}

.boards-btn {
  @include products-btn($color: $white);
  left: 9.6em;
  margin-top: 17.5em;
  width: 10.5em;
}

.for-sale-btn {
  @include products-btn($color: $white);
  left: 38.5em;
  margin-top: 17.5em;
  width: 8.8em;
}

.men-btn {
  @include products-btn($color: $white);
  left: 66.8em;
  margin-top: 17.5em;
  width: 8em;
}

.accessories-btn {
  @include products-btn($color: $white);
  left: 92.4em;
  margin-top: 17.5em;
  width: 13.5em;
}

.men-clothing-btn {
  @include products-btn($color: $white);
  left: 16.9em;
  margin-top: 17.4em;
  width: 23.7em;
}

.new-arrival-btn {
  @include products-btn($color: $white);
  left: 72.3em;
  margin-top: 17.4em;
  width: 25.5em;
}

.boards-p:hover > .boards-btn,
.for-sale-p:hover > .for-sale-btn,
.men-p:hover > .men-btn,
.accessories-p:hover > .accessories-btn,
.men-clothing-p:hover > .men-clothing-btn,
.new-arrival-p:hover > .new-arrival-btn {
  background-color: $purple;
  color: white;
  cursor: pointer;
}

.trending-head {
  font-size: 26px;
  line-height: 1;
  span {
    font-size: 16px;
  }
}
.trending-products {
  min-height: 34.4em;
  padding-top: 2.3em;
  margin-left: 0.3em;
  text-align: center;
}

.trending-product-detail {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 2em;
  min-height: 10em;
  height: 25em;

  .trending-product-img {
    position: relative;
    height: 232px;
    margin-left: 0.5em;
    margin-top: 3.2em;
  }
}
.product1:hover > .details {
  position: absolute;
  top: 10%;
  z-index: 99;
}

.details {
  background-color: black;
}

.product2 {
  p {
    position: absolute;
    margin-top: 5em;
    margin-left: 1.6em;
    z-index: 1;
  }
}

//parallax
.parallax {
  align-items: center;
  background-image: url("../images/parallax-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 40.6em;
  justify-content: center;
  text-align: center;
}

.parallax-heading {
  font-size: 30px;

  p:nth-child(1) {
    color: $green;
    line-height: 1.5;
  }

  p:nth-child(2) {
    font-size: 72px;
    font-weight: bold;
  }
}

.brands {
  margin: 0 12em 2.1em 9.5em;

  a {
    text-decoration: none;

    &:hover > .brand-img {
      opacity: 1;
    }
  }
}

.brand-img {
  margin-left: 3.6em;
  opacity: 0.2;
  width: 8.3em;
}

.instagram-link {
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  margin-top: 2.5em;
  margin-left: 0.8em;
  text-align: center;

  a {
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  span {
    font-size: 16px;
    font-weight: normal;
  }
}

.offers {
  display: flex;

  .offer-img-1,
  .offer-img-2 {
    margin: 0.7em 0 2em 1.2em;
    width: 730px;
  }
}

.join-us-btn {
  @include btn($color: $blue);
  height: 2.8em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $white;
  position: absolute;
  width: 6.6em;
}

.offer-img-1:hover ~ .offer-btn-1,
.offer-img-2:hover ~ .offer-btn-2 {
  transform: scale(1.1);
}

.offer-btn-1,
.offer-btn-2 {
  @include products-btn($color: $white);
  font-weight: normal;
  height: 8.3em;
  margin-top: 12em;
  position: absolute;
  transition: all 0.6s ease-in-out;
  width: 24.2em;

  &:hover {
    transform: scale(1.1);
  }

  p {
    font-size: 16px;

    span {
      font-size: 28px;
      font-weight: bold;

      span {
        color: $light-green;
      }
    }
  }
}

.offer-btn-1 {
  left: 16.5em;
}

.offer-btn-2 {
  left: 73em;
}
