@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  font-family: Hind, Arial;
  font-size: 14px;
  height: 3.7em;
  overflow: hidden;
  padding-left: 2%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7%;
}

nav ul li {
  list-style: none;
  margin-left: 6%;
  position: relative;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.icons {
  margin-left: 34%;
}

.icons ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons ul li {
  margin-left: 30%;
}

.menu-icon {
  display: none;
}

.sub-menu-home,
.sub-menu-shop {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 12em;
  margin-right: 20em;
  min-width: 82em;
  min-height: 18em;
}

.sub-menu-home ul,
.sub-menu-shop ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-home ul li,
.sub-menu-shop ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-home ul li ul,
.sub-menu-shop ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-home ul li ul li:nth-child(1),
.sub-menu-shop ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-pages {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 27em;
  min-height: 13em;
  min-width: 18em;
  padding-top: 2.2em;
}

.sub-menu-pages ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-pages ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-pages ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-pages ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-blog {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 32.3em;
  min-height: 19em;
  min-width: 16.5em;
  padding-top: 2.2em;
}

.sub-menu-blog ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-blog ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-blog ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-blog ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-portfolio {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 36.8em;
  min-height: 19em;
  min-width: 16.5em;
  padding-top: 2.2em;
}

.sub-menu-portfolio ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-portfolio ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-portfolio ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-portfolio ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-snowboards {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 12em;
  min-height: 18em;
  max-width: 81em;
}

.sub-menu-snowboards ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-snowboards ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-snowboards ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-snowboards ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.sub-menu-snowboards ul {
  -ms-grid-columns: 1fr 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 1fr 2fr;
}

.sub-menu-buy-theme {
  background-color: #fff;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  padding-left: 3em;
  position: absolute;
  top: 3em;
  z-index: 3;
  left: 52em;
  min-height: 7em;
  min-width: 17em;
  padding-top: 2.2em;
}

.sub-menu-buy-theme ul {
  display: inline;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.sub-menu-buy-theme ul li {
  margin: 0;
  margin-bottom: 3px;
}

.sub-menu-buy-theme ul li ul {
  display: inline;
  padding-top: 1em;
}

.sub-menu-buy-theme ul li ul li:nth-child(1) {
  padding-top: 0.5em;
}

.home:hover ~ .sub-menu-home,
.shop:hover ~ .sub-menu-shop,
.snowboards:hover ~ .sub-menu-snowboards {
  display: -ms-grid;
  display: grid;
}

.pages:hover ~ .sub-menu-pages,
.blog:hover ~ .sub-menu-blog,
.portfolio:hover ~ .sub-menu-portfolio,
.buy-theme:hover ~ .sub-menu-buy-theme {
  display: inline;
}

.sub-menu-sub-dropdown {
  display: none;
  position: absolute;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  top: 1.5em;
  left: 17em;
  background-color: #fff;
  padding-top: 0.6em;
  padding-left: 1.5em;
  min-width: 18em;
  min-height: 6.5em;
}

.sub-dropdown:hover ~ .sub-menu-sub-dropdown {
  display: inline;
}

.badge-yellow {
  background-color: #ffae42;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-red {
  background-color: red;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-blue {
  background-color: #48b4e0;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.badge-green {
  background-color: #08da97;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  margin: 4px;
  padding: 0 5px 0 5px;
}

.sale-badge {
  left: 12em;
  position: absolute;
  top: 1em;
}

.sub-menu-snowitems-heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4em 0.5em 0;
}

.sub-menu-special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sub-menu-products {
  height: 125px;
  margin-left: 0.8em;
  margin-top: 0;
  width: 125px;
}

.sub-menu-items {
  margin: 0.5em 2em 0 0.5em;
}

.arrow-button {
  background-color: #fff;
  border: none;
}

@media screen and (max-width: 1244px) {
  nav ul {
    margin-left: 4%;
  }
  .icons {
    margin-left: 30%;
  }
}

@media screen and (max-width: 1024px) {
  nav ul {
    display: none;
  }
  .icons {
    margin-left: 65%;
  }
  .icons ul li {
    margin-left: 60%;
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 3%;
  }
}

@media screen and (max-width: 858px) {
  .icons {
    margin-left: 58%;
  }
}

@media screen and (max-width: 748px) {
  .icons {
    margin-left: 45%;
  }
}

.social-media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.8em;
  background-color: #b004e2;
  padding-left: 10%;
  padding-right: 3%;
  display: flex;
}

.social-media b {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  padding-right: 5%;
}

.social-media form {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.social-media-icons {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

.form-input {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  border: none;
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  height: 2.8em;
  margin-left: -20%;
  padding-left: 1em;
  position: relative;
  width: 80%;
}

.social-media-icons {
  color: #fff;
}

.social-media-icons i {
  margin-left: 2%;
}

.other-info {
  background-color: #f7f8fa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  min-height: 16em;
  padding: 3.2% 10% 2% 10%;
  color: grey;
}

.other-info b {
  color: #000;
}

.other-info ul {
  list-style: none;
}

.other-info ul li {
  font-size: 14px;
  margin-right: 2%;
  padding-top: 0.5%;
}

.about-info {
  font-size: 14px;
  margin-right: 3em;
  padding-top: 0.5em;
}

.categories {
  padding-bottom: 10%;
}

.page-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 12em 2em 10em;
}

.payment-options-logo {
  height: 1.2em;
  margin-left: 1em;
}

@media screen and (max-width: 1024px) {
  .other-info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10%;
  }
}

*,
body {
  font-family: Hind, Arial;
  margin: 0;
  padding: 0;
}

.quote,
.parallax-heading {
  color: white;
  font-family: Hind;
  line-height: 1.2;
}

.quote {
  font-size: 2vw;
  left: 18.5%;
  position: absolute;
  top: 32%;
}

.quote p {
  line-height: 2;
}

.quote h1 {
  line-height: 1;
}

.arrows {
  color: #fff;
  cursor: pointer;
  font-size: 3vw;
  position: absolute;
  margin-left: 2%;
  margin-top: 23%;
  opacity: 0.5;
  width: 23.5%;
}

.arrows:hover {
  opacity: 1;
}

.next {
  position: absolute;
  margin-left: 400%;
}

.prev {
  position: absolute;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel img {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.carousel-img {
  width: 120%;
  height: 100%;
  margin-left: -10em;
  z-index: 0;
}

.shop-btn-carousel {
  background-color: #08da97;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 2em;
  height: 3.8em;
  width: 40%;
}

.shop-btn-carousel:hover {
  cursor: pointer;
}

.shop-btn-parallax {
  background-color: #b004e2;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-top: 2em;
  height: 3.8em;
  width: 40%;
}

.shop-btn-parallax:hover {
  cursor: pointer;
}

.move-to-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2267d8;
  border-radius: 0.5em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  height: 4.2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
  position: -webkit-sticky;
  position: sticky;
  top: 87%;
  width: 4em;
  z-index: 50;
}

.move-to-top i {
  color: #fff;
  font-size: 30px;
}

.first-row {
  height: 100%;
  width: 100%;
  margin-bottom: 1em;
}

.second-row {
  height: 97%;
  width: 100%;
}

.products-collection {
  cursor: pointer;
  margin: 1.2em 1.2em 0em 1.2em;
}

.second-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.first-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.boards-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 7.5%;
  margin-top: 16%;
  width: 10.5em;
}

.for-sale-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 38.5em;
  margin-top: 17.5em;
  width: 8.8em;
}

.men-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 66.8em;
  margin-top: 17.5em;
  width: 8em;
}

.accessories-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 92.4em;
  margin-top: 17.5em;
  width: 13.5em;
}

.men-clothing-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 16.9em;
  margin-top: 17.4em;
  width: 23.7em;
}

.new-arrival-btn {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  left: 72.3em;
  margin-top: 17.4em;
  width: 25.5em;
}

.boards-p:hover > .boards-btn,
.for-sale-p:hover > .for-sale-btn,
.men-p:hover > .men-btn,
.accessories-p:hover > .accessories-btn,
.men-clothing-p:hover > .men-clothing-btn,
.new-arrival-p:hover > .new-arrival-btn {
  background-color: #b004e2;
  color: white;
  cursor: pointer;
}

.slide-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 92%;
  margin-right: 1em;
  position: absolute;
}

.prev-product,
.next-product {
  background-color: #f7f8fa;
  border-radius: 0.8em;
  color: #808080;
  cursor: pointer;
  font-size: 25px;
  height: 1.5em;
  margin-right: 0.5em;
  width: 1.5em;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.prev-product:hover,
.next-product:hover {
  background-color: #2267d8;
  color: #f7f8fa;
}

.trending-head {
  font-size: 26px;
  line-height: 1;
}

.trending-head span {
  font-size: 16px;
}

.trending-products {
  min-height: 35em;
  padding-top: 2em;
  margin-left: 0.3em;
  text-align: center;
}

.trending-product-detail {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.trending-product-detail .trending-product-img {
  position: relative;
  width: 90%;
  margin-left: 0.5em;
  margin-top: 3.2em;
}

.btnn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boards-btn {
  position: absolute;
}

.product1:hover > .details,
.product2:hover > .details,
.product3:hover > .details,
.product4:hover > .details,
.product5:hover > .details,
.product6:hover > .details {
  background-color: white;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.product1:hover > .details > .add-to-cart-btn,
.product2:hover > .details > .add-to-cart-btn,
.product3:hover > .details > .add-to-cart-btn,
.product4:hover > .details > .add-to-cart-btn,
.product5:hover > .details > .add-to-cart-btn,
.product6:hover > .details > .add-to-cart-btn {
  display: block;
  margin-left: 5.6em;
}

.details {
  font-size: 14px;
  height: 8em;
  padding-top: 0.4em;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.product-type {
  color: #808080;
  font-size: 12px;
}

.product-price {
  font-weight: bold;
}

.for-sale-price {
  color: red;
}

.add-to-cart-btn {
  background-color: #08da97;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  color: #fff;
  display: none;
  padding: 0.7em;
  margin-top: 1em;
}

.rating-stars {
  font-size: 12px;
}

.fa-star {
  color: orange;
}

.product2 .badge-red {
  position: absolute;
  margin-top: 5em;
  margin-left: 1.6em;
  z-index: 1;
}

.parallax {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/parallax-img.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40.6em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.parallax-heading {
  font-size: 30px;
}

.parallax-heading p:nth-child(1) {
  color: #13b380;
  line-height: 1.5;
}

.parallax-heading p:nth-child(2) {
  font-size: 72px;
  font-weight: bold;
}

.brands {
  margin: 0 12% 2% 15%;
}

.brands a {
  text-decoration: none;
}

.brands a:hover > .brand-img {
  opacity: 1;
}

.brand-img {
  margin-left: 4%;
  opacity: 0.2;
  width: 10%;
}

.instagram-link {
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  margin-top: 2.5em;
  margin-left: 0.8em;
  text-align: center;
}

.instagram-link a {
  color: #2267d8;
  text-decoration: underline;
}

.instagram-link a:hover {
  text-decoration: none;
}

.instagram-link span {
  font-size: 16px;
  font-weight: normal;
}

.offers {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0em 1.2em 1.2em 1.2em;
}

.offers .offer-img-1,
.offers .offer-img-2 {
  height: 100%;
  width: 100%;
}

.join-us-btn {
  background-color: #2267d8;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  height: 2.8em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  position: absolute;
  width: 8%;
}

.offer-img-1:hover ~ .offer-btn-1,
.offer-img-2:hover ~ .offer-btn-2 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offer-btn-1,
.offer-btn-2 {
  background-color: #fff;
  border: none;
  border-radius: 0.5em;
  text-align: center;
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
  font-weight: normal;
  height: 8.3em;
  margin-top: 12em;
  position: absolute;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  width: 24.2em;
}

.offer-btn-1:hover,
.offer-btn-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offer-btn-1 p,
.offer-btn-2 p {
  font-size: 16px;
}

.offer-btn-1 p span,
.offer-btn-2 p span {
  font-size: 28px;
  font-weight: bold;
}

.offer-btn-1 p span span,
.offer-btn-2 p span span {
  color: #08da97;
}

.offer-btn-1 {
  left: 16.5em;
}

.offer-btn-2 {
  left: 73em;
}

.new-div {
  max-width: 100px;
}

@media screen and (max-width: 1024px) {
  .trending-product-detail {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .quote {
    top: 25%;
    left: 14%;
  }
}

@media screen and (max-width: 768px) {
  .first-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .trending-product-detail {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .move-to-top {
    display: none;
  }
  .quote {
    top: 20%;
    left: 10%;
  }
}

@media screen and (max-width: 576px) {
  .first-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .quote {
    top: 5%;
    left: 4%;
  }
}
/*# sourceMappingURL=homepage.css.map */