@import "./navbar.scss";
@import "footer.scss";

@mixin btn($color) {
  background-color: $color;
  border: none;
  border-radius: 0.5em;
  text-align: center;
}

@mixin products-btn($color) {
  @include btn($color);
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
}

*,
body {
  font-family: Hind, Arial;

  margin: 0;
  padding: 0;
}

.quote {
  color: white;
  font-family: Hind;
  font-size: 34px;
  left: 8.3em;
  line-height: 1.2;
  position: absolute;
  top: 7em;

  p {
    line-height: 2;
  }
  h1 {
    line-height: 1;
  }
}

.carousel {
  height: 93vh;
  background-image: url("../images/mainpage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop-now-btn {
  @include btn($color: $light-green);
  color: white;
  font-weight: bold;
  margin-top: 2em;
  height: 3.8em;
  width: 13.5em;
}

.first-row {
  height: 300px;
  width: 356px;
  margin-bottom: 1em;
}

.second-row {
  height: 300px;
  width: 730px;
}
.boards-p {
  grid-area: item1;
}

.for-sale-p {
  grid-area: item2;
}

.men-p {
  grid-area: item3;
}

.accessories-p {
  grid-area: item4;
}

.men-clothing-p {
  grid-area: item5;
}

.new-arrival-p {
  grid-area: item6;
}

.products-collection {
  display: grid;
  grid-template-areas:
    "item1 item2 item3 item4"
    "item5 item5 item6 item6";
  margin-left: 1.2em;
  margin-top: 1.2em;
  cursor: pointer;
}

.boards-btn {
  @include products-btn($color: $white);
  left: 9.6em;
  margin-top: 17.5em;
  width: 10.5em;
}

.for-sale-btn {
  @include products-btn($color: $white);
  left: 38.5em;
  margin-top: 17.5em;
  width: 8.8em;
}

.men-btn {
  @include products-btn($color: $white);
  left: 66.8em;
  margin-top: 17.5em;
  width: 8em;
}

.accessories-btn {
  @include products-btn($color: $white);
  left: 92.4em;
  margin-top: 17.5em;
  width: 13.5em;
}

.men-clothing-btn {
  @include products-btn($color: $white);
  left: 16.9em;
  margin-top: 17.4em;
  width: 23.7em;
}

.new-arrival-btn {
  @include products-btn($color: $white);
  left: 72.3em;
  margin-top: 17.4em;
  width: 25.5em;
}

.boards-p:hover > .boards-btn,
.for-sale-p:hover > .for-sale-btn,
.men-p:hover > .men-btn,
.accessories-p:hover > .accessories-btn,
.men-clothing-p:hover > .men-clothing-btn,
.new-arrival-p:hover > .new-arrival-btn {
  background-color: $purple;
  color: white;
  cursor: pointer;
}

.offers {
  display: flex;

  .offer-img-1,
  .offer-img-2 {
    margin: 0.7em 0 2em 1.2em;
    width: 730px;
  }
}

.join-us-btn {
  @include btn($color: $blue);
  height: 2.8em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $white;
  position: absolute;
  width: 8.5em;
}

.offer-img-1:hover ~ .offer-btn-1,
.offer-img-2:hover ~ .offer-btn-2 {
  transform: scale(1.1);
}

.offer-btn-1,
.offer-btn-2 {
  @include products-btn($color: $white);
  font-weight: normal;
  height: 8.3em;
  margin-top: 12em;
  position: absolute;
  transition: all 0.6s ease-in-out;
  width: 24.2em;

  &:hover {
    transform: scale(1.1);
  }

  p {
    font-size: 16px;

    span {
      font-size: 28px;
      font-weight: bold;

      span {
        color: $light-green;
      }
    }
  }
}

.offer-btn-1 {
  left: 16.5em;
}

.offer-btn-2 {
  left: 73em;
}
