@import "./navbar.scss";
@import "footer.scss";

@mixin btn($color) {
  background-color: $color;
  border: none;
  border-radius: 0.5em;
  text-align: center;
}

@mixin products-btn($color) {
  @include btn($color);
  font-weight: bold;
  height: 3.5em;
  opacity: 0.9;
  position: absolute;
}

@mixin shop-now-btn($color) {
  @include btn($color);
  color: white;
  font-weight: bold;
  margin-top: 2em;
  height: 3.8em;
  width: 40%;

  &:hover {
    cursor: pointer;
  }
}

*,
body {
  font-family: Hind, Arial;

  margin: 0;
  padding: 0;
}

.quote,
.parallax-heading {
  color: white;
  font-family: Hind;
  line-height: 1.2;
}

.quote {
  font-size: 2vw;
  left: 18.5%;
  position: absolute;
  top: 32%;
  p {
    line-height: 2;
  }
  h1 {
    line-height: 1;
  }
}

.arrows {
  color: $white;
  cursor: pointer;
  font-size: 3vw;
  position: absolute;
  margin-left: 2%;
  margin-top: 23%;
  opacity: 0.5;
  width: 23.5%;
  &:hover {
    opacity: 1;
  }
}
.next {
  position: absolute;
  margin-left: 400%;
}

.prev {
  position: absolute;
}
.carousel {
  position: relative;
  width: 100%;
  // background-image: url("../images/mainpage.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  overflow: hidden;
  img {
    transition: 0.3s ease-out;
  }
}

.carousel-img {
  width: 120%;
  height: 100%;
  margin-left: -10em;
  z-index: 0;
}

.shop-btn-carousel {
  @include shop-now-btn($color: $light-green);
}

.shop-btn-parallax {
  @include shop-now-btn($color: $purple);
}

//move to top button
.move-to-top {
  align-items: center;
  background-color: $blue;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  float: right;
  height: 4.2em;
  justify-content: center;
  opacity: 0.7;
  position: sticky;
  top: 87%;
  width: 4em;
  z-index: 50;

  i {
    color: $white;
    font-size: 30px;
  }
}

.first-row {
  height: 100%;
  width: 100%;
  margin-bottom: 1em;
}

.second-row {
  height: 97%;
  width: 100%;
}

.products-collection {
  cursor: pointer;
  margin: 1.2em 1.2em 0em 1.2em;
}
.second-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}
.first-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.boards-btn {
  @include products-btn($color: $white);
  left: 7.5%;
  margin-top: 16%;
  width: 10.5em;
}

.for-sale-btn {
  @include products-btn($color: $white);
  left: 38.5em;
  margin-top: 17.5em;
  width: 8.8em;
}

.men-btn {
  @include products-btn($color: $white);
  left: 66.8em;
  margin-top: 17.5em;
  width: 8em;
}

.accessories-btn {
  @include products-btn($color: $white);
  left: 92.4em;
  margin-top: 17.5em;
  width: 13.5em;
}

.men-clothing-btn {
  @include products-btn($color: $white);
  left: 16.9em;
  margin-top: 17.4em;
  width: 23.7em;
}

.new-arrival-btn {
  @include products-btn($color: $white);
  left: 72.3em;
  margin-top: 17.4em;
  width: 25.5em;
}

.boards-p:hover > .boards-btn,
.for-sale-p:hover > .for-sale-btn,
.men-p:hover > .men-btn,
.accessories-p:hover > .accessories-btn,
.men-clothing-p:hover > .men-clothing-btn,
.new-arrival-p:hover > .new-arrival-btn {
  background-color: $purple;
  color: white;
  cursor: pointer;
}

.slide-products {
  display: flex;
  margin-left: 92%;
  margin-right: 1em;
  position: absolute;
}

.prev-product,
.next-product {
  background-color: $light-grey;
  border-radius: 0.8em;
  color: $grey;
  cursor: pointer;
  font-size: 25px;
  height: 1.5em;
  margin-right: 0.5em;
  width: 1.5em;
  transition: 0.3s ease-in;

  &:hover {
    background-color: $blue;
    color: $light-grey;
  }
}

.next-product {
}

.trending-head {
  font-size: 26px;
  line-height: 1;
  span {
    font-size: 16px;
  }
}
.trending-products {
  min-height: 35em;
  padding-top: 2em;
  margin-left: 0.3em;
  text-align: center;
}

.trending-product-detail {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(6, 1fr);

  .trending-product-img {
    position: relative;
    width: 90%;
    margin-left: 0.5em;
    margin-top: 3.2em;
  }
}

.btnn {
  display: flex;
  position: absolute;
  justify-content: center;
}
.boards-btn {
  position: absolute;
}

.product1:hover > .details,
.product2:hover > .details,
.product3:hover > .details,
.product4:hover > .details,
.product5:hover > .details,
.product6:hover > .details {
  background-color: white;
  transform: translateY(-60px);
}

.product1:hover > .details > .add-to-cart-btn,
.product2:hover > .details > .add-to-cart-btn,
.product3:hover > .details > .add-to-cart-btn,
.product4:hover > .details > .add-to-cart-btn,
.product5:hover > .details > .add-to-cart-btn,
.product6:hover > .details > .add-to-cart-btn {
  display: block;
  margin-left: 5.6em;
}

.details {
  font-size: 14px;
  height: 8em;
  padding-top: 0.4em;
  position: relative;
  transition: 0.3s ease-in-out;
}

.product-type {
  color: $grey;
  font-size: 12px;
}

.product-price {
  font-weight: bold;
}

.for-sale-price {
  color: $red;
}

.add-to-cart-btn {
  @include btn($color: $light-green);
  color: $white;
  display: none;
  padding: 0.7em;
  margin-top: 1em;
}

.rating-stars {
  font-size: 12px;
}

.fa-star {
  color: orange;
}

.product2 {
  .badge-red {
    position: absolute;
    margin-top: 5em;
    margin-left: 1.6em;
    z-index: 1;
  }
}

//parallax
.parallax {
  width: 100%;
  align-items: center;
  background-image: url("../images/parallax-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 40.6em;
  justify-content: center;
  text-align: center;
}

.parallax-heading {
  font-size: 30px;

  p:nth-child(1) {
    color: $green;
    line-height: 1.5;
  }

  p:nth-child(2) {
    font-size: 72px;
    font-weight: bold;
  }
}

.brands {
  margin: 0 12% 2% 15%;

  a {
    text-decoration: none;

    &:hover > .brand-img {
      opacity: 1;
    }
  }
}

.brand-img {
  margin-left: 4%;
  opacity: 0.2;
  width: 10%;
}

.instagram-link {
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  margin-top: 2.5em;
  margin-left: 0.8em;
  text-align: center;

  a {
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  span {
    font-size: 16px;
    font-weight: normal;
  }
}

.offers {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  margin: 0em 1.2em 1.2em 1.2em;

  .offer-img-1,
  .offer-img-2 {
    height: 100%;
    width: 100%;
  }
}

.join-us-btn {
  @include btn($color: $blue);
  height: 2.8em;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: $white;
  position: absolute;
  width: 8%;
}

.offer-img-1:hover ~ .offer-btn-1,
.offer-img-2:hover ~ .offer-btn-2 {
  transform: scale(1.1);
}

.offer-btn-1,
.offer-btn-2 {
  @include products-btn($color: $white);
  font-weight: normal;
  height: 8.3em;
  margin-top: 12em;
  position: absolute;
  transition: all 0.6s ease-in-out;
  width: 24.2em;

  &:hover {
    transform: scale(1.1);
  }

  p {
    font-size: 16px;

    span {
      font-size: 28px;
      font-weight: bold;

      span {
        color: $light-green;
      }
    }
  }
}

.offer-btn-1 {
  left: 16.5em;
}

.offer-btn-2 {
  left: 73em;
}

.new-div {
  max-width: 100px;
}

//media queries
@media screen and (max-width: 1024px) {
  .trending-product-detail {
    grid-template-columns: repeat(3, 1fr);
  }
  .quote {
    top: 25%;
    left: 14%;
  }
}

@media screen and (max-width: 768px) {
  .first-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  .trending-product-detail {
    grid-template-columns: repeat(2, 1fr);
  }

  .move-to-top {
    display: none;
  }

  .quote {
    top: 20%;
    left: 10%;
  }
}

@media screen and (max-width: 576px) {
  .first-container {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
  }
  .quote {
    top: 5%;
    left: 4%;
  }
}
